# OS
.DS_Store
.idea

# node
node_modules
dist
dist-ssr
*.local
package-lock.json
pnpm-lock.yaml

# python
*.pyc
*.whl
*.egg-info
.coverage
build
antlr4-python3-runtime-*

# resource
*.zip
*.tar.gz
*.woff2
