name: kernel

on: push

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: kernel
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.x
        uses: actions/setup-python@v2
        with:
          python-version: '3.9.5'  # same with Pyodide
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Check code quality
        run: |
          flake8 gamma
      - name: Run integration tests
        run: |
          pytest --cov=gamma -n auto test
